<div class="container-fluid testimonial-group p-2">
    <h2 class="page-title">Class {{classroomId}}'s Attendances</h2>
    <br>
    <h3>Date</h3>        
    <div id='eventDatesSlider' class="slider text-center mx-auto">
        {{#each events}}
        <div class="slider-item {{#if this.active}}slider-item-active{{/if}}">
            <span class="date slider-item__date">
                {{this.date}}
            </span>
            <span class="slider-item__number">
                ({{this.id}})
            </span>
        </div>
        {{/each}}
    </div>
    <br><br>
    <h3>Students</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Attendance</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr class='attendance-row' data-user-id={{this.id}}>
                <th scope="row">{{this.name}}</th>
                <td>
                    <a class="btn-attendance btn-check {{#if this.attendance.present}}btn-attendance-active{{/if}}" data-attendance-type='present'><i class="fas fa-2x fa-check"></i></a>
                    <a class="btn-attendance btn-clock {{#if this.attendance.late}}btn-attendance-active{{/if}}" data-attendance-type='late'><i class="far fa-2x fa-clock"></i></a>
                    <a class="btn-attendance btn-desc {{#if this.attendance.excused}}btn-attendance-active{{/if}}" data-attendance-type='excused'><i class="fas fa-2x fa-file-alt"></i></a>
                    <a class="btn-attendance btn-times {{#if this.attendance.absent}}btn-attendance-active{{/if}}" data-attendance-type='absent'><i class="fas fa-2x fa-ban"></i></a>
                </td>
                <td>{{this.SDT}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <h3>Lectures</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Attendance</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each lectures}}
            <tr class='attendance-row' data-user-id={{this.id}}>
                <th scope="row">{{this.name}}</th>
                <td>
                    <a class="btn-attendance btn-check {{#if this.attendance.present}}btn-attendance-active{{/if}}" data-attendance-type='present'><i class="fas fa-2x fa-check"></i></a>
                    <a class="btn-attendance btn-clock {{#if this.attendance.late}}btn-attendance-active{{/if}}" data-attendance-type='late'><i class="far fa-2x fa-clock"></i></a>
                    <a class="btn-attendance btn-desc {{#if this.attendance.excused}}btn-attendance-active{{/if}}" data-attendance-type='excused'><i class="fas fa-2x fa-file-alt"></i></a>
                    <a class="btn-attendance btn-times {{#if this.attendance.absent}}btn-attendance-active{{/if}}" data-attendance-type='absent'><i class="fas fa-2x fa-ban"></i></a>
                </td>
                <td>{{this.SDT}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="container d-flex justify-content-end attendance-btn-group">
        <button class="btn btn-secondary btn-back attendance-btn-group__btn">Back</button>
        {{#if edit}}
        <button id='btnSaveAttendances' class="btn btn-secondary attendance-btn-group__btn">Save</button>
        <button id= 'btnSaveAndBackAttendances' class="btn btn-secondary attendance-btn-group__btn">Save & Back</button>
        {{/if}}
    </div>
</div>