<div class="container-fluid shadow-default">
    <h2 class="page-title">Courses</h2>
    
    <form action="#" class="form-inline form-search w-100">
        <div class="form-group w-100">
            <section>
                <div>
                    <label for="inputSearch">Search</label>
                    <input type="text" name="inputSearch" id="inputSearch" class="form-control" placeholder="Search ..." >
                </div>
                <div>
                    <label for="selectStatus">Status</label>
                    <select class="custom-select" id="selectStatus">
                        <option selected>Status</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <label for="selectCourseLine">Course Line</label>
                    <select class="custom-select" id="selectCourseLine">
                        <option selected>Course Line</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <label for="selectCourseTopic">Course Topic</label>
                    <select class="custom-select" id="selectCourseTopic">
                        <option selected>Course Topic</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <br>
                    <button type="button" name="btnReset" id="btnReset" class="btn btn-secondary"><i class="fas fa-redo"></i> Redo</button>
                </div>
                <div>
                    <br>
                    <button type="button" name="btnCancel" id="btnCancel" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</button>
                </div>
                {{#if manageRight}}
                <div>
                    <br>
                    <button type="button" name="btnAddCourse" id="btnAddCourses" class="btn btn-secondary" data-toggle="modal" data-target="#modalAddCourse">
                        <i class="fas fa-plus"></i>
                        Add Courses
                    </button>
                </div>
                {{/if}}
            </section>
        </div>
    </form>
    {{#if manageRight}}
    <div class="modal fade" id='modalAddCourse' tabindex="0" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-row">
                            <div class="form-group col-8">
                                <label for="inputCourseName">Course Name</label>
                                <input type="text" class='form-control' name="inputCourseName" id="inputCourseName" placeholder="Course Name">
                            </div>
                            <div class="form-group col-4">
                                <label for="inputCourseCode">Course Code</label>
                                <input type="text" class='form-control' name="inputCourseCode" id="inputCourseCode" placeholder="Course Code">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="inputCourseTopic">Course Topic</label>
                                <input type="text" class='form-control' name="inputCourseTopic" id="inputCourseTopic" placeholder="Course Topic">
                            </div>
                            <div class="form-group col-4">
                                <label for="inputCourseLine">Course Line</label>
                                <input type="number" class='form-control' name="inputCourseLine" id="inputCourseLine" placeholder="Course Line">
                            </div>
                            <div class="form-group col-4">
                                <label for="selectCourseStatus">Course Status</label>
                                <select class="custom-select" name='selectCourseStatus' id="selectCourseStatus">
                                    <option selected>Status</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="textAreaCourseDescription">Course Description</label>
                                <textarea id="textAreaCourseDescription" name='textAreaCourseDescription' class="md-textarea form-control" rows='3'></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id='btnSummitAddCourse' type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">Course Line</th>
                <th scope="col">Course Topic</th>
                <th scope="col">Status</th>
                {{#if manageRight}}<th scope="col">Manage</th>{{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{this.name}}</th>
                <td>{{this.code}}</td>
                <td>{{this.description}}</td>
                <td>{{this.courseLine}}</td>
                <td>{{this.topic}}</td>
                <td>{{this.status}}</td>
                {{#if ../manageRight}}
                <td class='btn-handle-group'>
                    <a id='btnEditCourse' href="#" class='btn-handle btn-edit'><i class="fas fa-2x fa-edit"></i></a>
                    
                    <a id="btnRemoveCourses" href="#" class='btn-handle btn-remove'><i class="fas fa-2x fa-times"></i></a>                        
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>

    <nav class="pagination-navbar" aria-label="Page">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="?limit=5&page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?limit=5&page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?limit=5&page=3">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>